.country__wrapper {
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 470px;
    padding-right: 0;
    padding-top: 15px;
    padding-left: 0;
  }
}
.country__title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @include font-group-semibold($size-24, $line-36);
  color: $dark-color;

  @media (min-width: $tablet-width) {
    @include font-group-small($size-30, $line-45);
  }

  @media (min-width: $desktop-width) {
    position: relative;

    margin-bottom: 53px;
    text-align: left;

    @include font-group-small($size-55, $line-90);

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;

      display: block;
      width: 175px;
      height: 3px;

      background-color: $basic-accent-color;
    }
  }
}

.country__text {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  letter-spacing: -0.47px;

  @media (min-width: $desktop-width) {
    width: 370px;
    margin-bottom: 50px;
    text-align: left;
  }
}

.country__link {
  display: block;
  width: 288px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;

  @include font-group($size-10, $line-12);
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $basic-white;

  background-color: $basic-accent-color;

  &:hover {
    background-color: $accent-color-hover;
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    @include font-group-bold($size-12, $line-15);
  }
}
