.countries__nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 39px;
  padding-left: 0;
  overflow: hidden;
}

.countries__nav-item {
  margin-right: 99px;

  @include font-group-medium($size-20, $line-24);
  color: $dark-color-ultra-fade;
}
