.countries__nav {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 0;
  overflow: hidden;

  @media(min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.countries__nav-item {
  display: block;
  padding-right: 99px;
  padding-bottom: 11px;

  border-bottom: 1px solid $dark-color-ultra-fade;

  &:last-of-type {
    padding-right: 0;
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    padding-right: 96px;
  }

  @media (min-width: $desktop-width) {
    &:hover {
      cursor: pointer;
    }
  }
}

.countries__nav-text {
  @include font-group-medium($size-20, $line-24);
  color: $dark-color-ultra-fade;

  &--active {
    color: $basic-accent-color;
  }
}

.countries__nav-item:hover .countries__nav-text {
  color: $accent-color-hover;
}
