.form--questions {
  width: 288px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 559px;
  }
}

.form__input {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;

  background-color: $basic-white;
  border: 1px solid $dark-color-ultra-fade;

  &--phone {
    padding-left: 26px;

    background-image: url("../../img/icons/required.svg");
    background-repeat: no-repeat;
    background-position: 14px 9px;
  }

  &--invalid {
    border-color: $basic-accent-color;
  }
}

.form__input,
.form__input::placeholder {
  @include font-group($size-14, $line-17);
  color: $ultra-dark-color;
}

.form__submit {
  display: block;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 17px;
  text-align: center;

  @include font-group-medium($size-10, $line-12);
  color: $basic-white;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: $basic-accent-color;

  &:hover {
    cursor: pointer;
  }

  &:active {
    padding-top: 21px;
    padding-bottom: 17px;

    background-color: $accent-color-hover;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 17px;

    @include font-group-bold($size-12, $line-15);

    &:active {
      padding-top: 18px;
      padding-bottom: 17px;
    }
  }
}
