.logo {
  position: relative;

  display: block;
  width: 44px;
  height: 17px;
  padding-top: 19px;
  padding-bottom: 15px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
