.nav {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}
.nav__button {
  position: relative;
  z-index: 100;

  display: block;
  width: 50px;
  height: 50px;

  background-color: $basic-accent-color;

  &--no-js {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 14px;

    display: block;
    width: 22px;
    height: 1px;

    background-color: $special-light-color;
    box-shadow: 0 6px 0 0 $special-light-color, 0 12px 0 0 $special-light-color;
  }

  &:hover {
    background-color: $accent-color-hover;
    cursor: pointer;
  }

  &--opened {
    background-color: $basic-white;
    background-image: url("../../img/icons/icon_nav-button_close.svg");
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      background-color: transparent;
      box-shadow: none;
    }
  }

  &--opened:hover {
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    width: 72px;

    &::after {
      left: 25px;
    }

    &--opened {
      width: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav__list {
  display: none;

  &--opened {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;

    display: block;
    width: 320px;
    margin: 0;
    padding-top: 134px;
    padding-bottom: 284px;
    padding-left: 0;

    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;
    margin-right: 70px;
    padding-left: 0;
  }
}

.nav__list-item {
  position: relative;

  display: block;
  padding-top: 17px;
  padding-right: 35px;
  padding-bottom: 17px;
  padding-left: 16px;

  background-color: $light-color;

  &:first-child {
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 25px;
    z-index: 200;

    display: block;
    width: 8px;
    height: 12px;

    background-image: url("../../img/icons/icon_nav-list_shape.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover::after {
    background-image: url("../../img/icons/icon_nav-list_shape-hover.svg");
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    background-color: $basic-white;

    &:first-child {
      margin-right: 40px;
      margin-bottom: 0;
    }

    &::after {
      display: none;
    }
  }
}

.nav__list-link {
  @include font-group-semibold($size-20, $line-28);
  color: $dark-text-color;

  @media (min-width: $desktop-width) {
    @include font-group-medium($size-14, $line-17);
  }
}

.nav__list-item:hover > .nav__list-link {
  color: $basic-accent-color;
}

.nav__phone-link {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;

    color: $ultra-dark-color;
    text-decoration: underline;

    &:hover {
      color: $basic-accent-color;
    }
  }
}

.nav__phone-link-text {
  @include font-group($size-18, $line-32);
  color: $ultra-dark-color;

  &:hover {
    color: $basic-accent-color;
  }
}
