.page-footer {
  padding-top: 60px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 158px;
    padding-bottom: 74px;
  }
}

.page-footer__next-countries {
  padding-bottom: 20px;

  border-bottom: 1px solid $footer-border-color;

  @media (min-width: $tablet-width) {
    width: 395px;
  }

  @media (min-width: $desktop-width) {
    width: 387px;
    padding-bottom: 0;

    border-right: 1px solid $footer-border-color;
    border-bottom: none;
  }
}

.page-footer__contacts {
  padding-top: 29px;
  padding-bottom: 22px;

  border-bottom: 1px solid $footer-border-color;

  @media (min-width: $tablet-width) {
    width: 331px;
    padding-top: 0;
    padding-right: 23px;
    padding-bottom: 0;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 397px;
    padding-right: 65px;
    padding-left: 65px;

    border-right: 1px solid $footer-border-color;
    border-bottom: none;
  }
}

.page-footer__corp-trip {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-top: 0;
    padding-right: 11px;
    padding-bottom: 0;
    padding-left: 55px;
  }
}

.page-footer__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;

  @include font-group-semibold($size-18, $line-32);
  color: $ultra-dark-color;

  &--contacts {
    padding-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    &--countries {
      border-right: 1px solid $footer-border-color;
    }

    &--countries,
    &--contacts {
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;

    &--countries {
      border-right: none;
    }
  }
}

.page-footer__wrapper-countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    justify-content: left;

    border-right: 1px solid $footer-border-color;
  }

  @media (min-width: $desktop-width) {
    width: 387px;

    border-right: none;
  }
}

.page-footer__list {
  width: 144px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  &:first-of-type {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    width: 125px;
    margin-right: 0;
    text-align: left;

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      width: 131px;
    }

    &:nth-of-type(2) {
      width: 121px;
    }

    &:last-of-type {
      width: 132px;
    }
  }
}

.page-footer__list-item {
  margin-bottom: 9px;

  line-height: 17px;
}

.page-footer__list-link {
  @include font-group($size-14, $line-17);
  color: $ultra-dark-color-halffade;

  &:hover {
    color: $basic-accent-color;
  }
}

.page-footer__contacts-link-email {
  position: relative;

  display: block;
  width: 258px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  padding-left: 41px;

  @include font-group($size-14, $line-17);
  color: $basic-accent-color;

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;

    display: block;
    width: 26px;
    height: 20px;

    background-image: url("../../img/icons/icon_mail-footer.svg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    margin-left: 0;
  }
}

.page-footer__contacts-link-phone {
  position: relative;

  display: block;
  width: 209px;
  margin-right: 40px;
  margin-left: 39px;
  padding-left: 41px;

  @include font-group($size-16, $line-32);
  color: $basic-accent-color;
  text-decoration: underline;

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;

    display: block;
    width: 30px;
    height: 30px;

    background-image: url("../../img/icons/icon_phone-footer.svg");
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  @include font-group($size-14, $line-24);
  color: $ultra-dark-color-halffade;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
