.page-body {
  min-width: 320px;
  margin: 0;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: $basic-text-color-fade;
  background-color: $background-color;
}
