.prices__wrapper {
  @media (min-width: $desktop-width) {
    width: 400px;
    padding-top: 117px;
    padding-left: 94px;
  }
}

.prices__title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @include font-group-semibold($size-24, $line-36);
  color: $dark-color;

  @media (min-width: $tablet-width) {
    @include font-group-small($size-30, $line-45);
  }

  @media (min-width: $desktop-width) {
    position: relative;

    margin-bottom: 53px;
    text-align: left;

    @include font-group-small($size-55, $line-90);

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;

      display: block;
      width: 175px;
      height: 3px;

      background-color: $basic-accent-color;
    }
  }
}

.prices__text {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @include font-group-small($size-16, $line-27);
  color: $dark-color-fade;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    text-align: left;
  }
}

.prices__contacts {
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    display: block;
    width: 212px;
    margin-right: auto;
    margin-left: auto;
  }
}

.prices__contacts-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  @include font-group-medium($size-18, $line-34);
  color: $ultra-dark-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;

    font-size: 22px;
  }
}

.prices__contacts-link {
  display: block;
  text-align: center;

  @include font-group-small($size-18, $line-32);
  color: $basic-black;

  text-decoration: underline;

  &:hover {
    color: $basic-accent-color;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    font-size: 20px;

    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;

      display: block;
      width: 30px;
      height: 30px;

      background-image: url("../../img/icons/icon_phone.svg");
    }

    &:hover::after {
      background-image: url("../../img/icons/icon_phone-hover.svg");
    }
  }
}

.prices__rates {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 770px;
    justify-content: space-between;
    padding-bottom: 140px;
  }
}
