@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #192144, 0 0 0 4px #ffffff;
}

a {
  text-decoration: none;
}

button,
button:active,
input {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
